<span class="btn-group">
    <button class="btn btn-default btn_keypad btn-xs static-math">=</button>
    <button class="btn btn-default btn_keypad btn-xs static-math">\ne</button>
</span>
<span class="btn-group">
    <button class="btn btn-default btn_keypad btn-xs static-math keypad_write" value="(">(</button>
    <button class="btn btn-default btn_keypad btn-xs static-math keypad_write" value=")">)</button>
</span>
<button class="btn btn-default btn_keypad btn-xs static-math">+</button>
<button class="btn btn-default btn_keypad btn-xs static-math">-</button>
<button class="btn btn-default btn_keypad btn-xs static-math" value="\cdot">&#xd7;</button>
<button class="btn btn-default btn_keypad btn-xs static-math" value="\frac">&#xf7;</button>
<span class="btn-group">
    <button class="btn btn-default btn_keypad btn-xs static-math"><</button>
    <button class="btn btn-default btn_keypad btn-xs static-math">></button>
</span>
<span class="btn-group">
    <button class="btn btn-default btn_keypad btn-xs static-math">∧</button>
    <button class="btn btn-default btn_keypad btn-xs static-math keypad_write" value="\&">\&</button>
</span>
<span class="btn-group">
    <button class="btn btn-default btn_keypad btn-xs static-math">∨</button>
    <button class="btn btn-default btn_keypad btn-xs static-math keypad_write" value="|">|</button>
</span>