<button class="btn btn-default btn_keypad btn-xs static-math">=</button>
<button class="btn btn-default btn_keypad btn-xs static-math" value="(">()</button>
<button class="btn btn-default btn_keypad btn-xs static-math">+</button>
<button class="btn btn-default btn_keypad btn-xs static-math">-</button>
<button class="btn btn-default btn_keypad btn-xs static-math" value="\cdot">&#xd7;</button>
<button class="btn btn-default btn_keypad btn-xs static-math" value="\frac">&#xf7;</button>
<button class="btn btn-default btn_keypad btn-xs static-math">\pm</button>
<button class="btn btn-default btn_keypad btn-xs static-math" value="^">a^n</button>
<button class="btn btn-default btn_keypad btn-xs static-math" value="_">a_n</button>
<button class="btn btn-default btn_keypad btn-xs static-math" style="font-size: 0.9em" value="\sqrt">\sqrt{a}</button>
<button class="btn btn-default btn_keypad btn-xs static-math" style="font-size: 0.9em" value="\nthroot">\sqrt[n]{a}</button>
<button class="btn btn-default btn_keypad btn-xs static-math">\int</button>
<button class="btn btn-default btn_keypad btn-xs static-math keypad_int" value="\int_{}^{}">\int_a^b</button>
<button class="btn btn-default btn_keypad btn-xs static-math" style="font-size: 0.8em" value="\binom">\binom{n}{k}</button>
<button class="btn btn-default btn_keypad btn-xs static-math">\sin</button>
<button class="btn btn-default btn_keypad btn-xs static-math">\cos</button>
<button class="btn btn-default btn_keypad btn-xs static-math">\tan</button>
<div class="btn-group">
    <button class="btn btn-default btn_keypad btn-xs static-math keypad_matrix" style="font-size: 0.8em; width: auto" value="\pmatrix">\begin{pmatrix}a&b\\c&d\end{pmatrix}</button>
    <a rel="matrix-popover" class="btn btn-default btn-xs btn_custom_matrix" style="height: 34px"><b class="caret-right"></b></a>
</div>