{% extends "../templates/registration/registration_base.html" %}
{% load i18n %}

{% block content %}
<div class="col-lg-4 center-block">
    <section id="table_panel" class="panel panel-default center center-block">
        <div class="panel-heading"><h3 class="panel-title">Logg inn</h3></div>
        <div class="panel-body">


            <form method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="{% trans 'Logg inn' %}"/>
                <input type="hidden" name="next" value="{{ next }}"/>


            </form>

            <p>{% trans "Glemt passord" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Få nytt" %}</a>!</p>
            <p>{% trans "Ikke registert" %}? <a href="{% url 'registration_register' %}">{% trans "Registrer" %}</a>!</p>

        </div>
    </section>
</div>

{% endblock %}