{# TEMPLATE MINISEARCH RESULT SNIPPET #}

<div class="row">

    <ul class="list-inline">
        <li>
            <a id="search_content_{{ result.pk }}"  class="btn btn-primary btn-xs btn_add_content" title="Kopier og legg til">
            <span id="search_url_{{ result.pk }}" hidden>{% url 'add_template_to_level' user.extendeduser.current_level.id result.pk %}</span>
            <span class="glypicon glyphicon-plus"></span>
            </a>
            <button class="btn btn-xs btn-default preview-button" title="Forhåndsvisning"
                data-template_id="{{ result.pk }}" data-template_title="{{ result.name|title }}" type="button">
            <span class="glyphicon glyphicon-eye-open"></span>
        </button>

        </li>
        <li><strong>
        {% if result.name %}
                        {{ result.name|title }}
                    {% else %}
                        Uten Tittel
                    {% endif %}
        </strong>
        </li>
        <li>
            <span class="glyphicon glyphicon-user"></span>

                {{ result.object.creator|capfirst }}
            /
            <span title="Rating" class="rating">{{ result.rating }}</span>

            {% ifequal "True" result.multiple_support %}
            / Multiple Choice
            {% endifequal %}
            {% ifequal "True" result.fill_in_support %}
            / Fill in the Blanks
            {% endifequal %}
        </li>
    </ul>



</div>
