{# TEMPLATE MINISEARCH RESULT SNIPPET #}

<div class="template-result">

{% comment ###button stuff (needs search_functions.js to work)## %}

    <span id="toggle_template_add_id_{{ result.object.id }}" class="span__toggle_template_add_button pull-right"
          data-template_id="{{ result.object.id }}">
        {% include "search/includes/template_toggle_button_template.txt" %}
    </span>

{% endcomment %}

    <ul style="list-style: inline; list-style-type: none">
        <li>
            <a id="search_content_{{ result.pk }}"  class="btn btn-xs btn_add_content">
            <span id="search_url_{{ result.pk }}" hidden>{% url 'add_template_to_level' user.extendeduser.current_level.id result.pk %}</span>
            Legg til: {{ result.name|title }}
            </a>

        </li>
        <li>
            <span class="glyphicon glyphicon-user"></span>

                {{ result.object.creator|capfirst }}
            /
            <span title="Rating" class="rating">{{ result.rating }}</span>

            {% ifequal "True" result.multiple_support %}
            / Multiple Choice
            {% endifequal %}
            {% ifequal "True" result.fill_in_support %}
            / Fill in the Blanks
            {% endifequal %}
        </li>
    </ul>


    <div id="preview-template-id_{{ result.pk }}" class="hidden"></div>

</div>