{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block panels %}
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="col-md-8">
                <h1>{{ chapter.name }}
                    <small>Nivåer</small>
                </h1>
                <hr>

                <div id="object_container" class="sortable">
                    {% for level in object_list %}
                        <div class="panel panel-default" data-object_id="{{ level.id }}">
                            <div class="panel-body">

                                <strong class="text-left">{{ level.name|title }}</strong>

                                <div class="btn-group btn-group-sm pull-right" role="group">
                                    <button class="btn btn-default">
                                        <span class="glyphicon glyphicon-stats"></span>
                                    </button>
                                    <a href="{% url 'templates_by_level' level.id %}" class="btn btn-default">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <button class="btn btn-danger">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    {% empty %}
                        <div class="alert alert-info text-center">
                            Ingen nivå i kapittelet enda.
                        </div>
                    {% endfor %}
                </div>

                <input id="input_new_set" type="text" class="list_input form-control new_content input-level-name"
                       placeholder="Opprett nytt nivå...">
                <hr>
                <a href="{% url 'chapters_by_set' user.extendeduser.current_set.id %}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    {{ user.extendeduser.current_set.name }}
                </a>

            </div>

            <div class="col-md-4">
                <h1>Kopiering</h1>
                <hr>
                <div class="form-group">
                    <div class="input-group">
                        <input id="search_input" type="search" class="form-control input-sm"
                               placeholder="Søk i nivåer...">
            <span class="input-group-btn">
                <button id="search_submit" class="btn btn-primary btn-sm"><span
                        class="glyphicon glyphicon-search"></span>
                </button>
            </span>
                    </div>
                </div>
                <div id="search_levels" class="panel panel-default search_container" style="display:none"></div>
            </div>


        </div>

    </div>

{% endblock %}

{% block modals %}
    <div id="deleteModal" class="modal fade bs-example-modal-sm confirm-delete-modal" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-alert alert alert-danger"></div>
                    <a id="cancelModal" class="btn btn-sm btn-primary">Avbryt</a>
                    <button id="confirmDelete" class="btn btn-sm btn-danger" data-object-type="" data-object-id="">
                        Slett
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block js %}
    <script>
        current_chapter = {{ user.extendeduser.current_chapter.id }};
    </script>
    <script src="{% static "js/set_edit_functions.js" %}"></script>
{% endblock %}