{# LIST LEVELS IN CHAPTER #}
{% extends 'sets/setbase.html' %}

{% block panels %}
    <h1>Tema i kapittel "{{ chapter.name|capfirst }}"</h1>
    {% if user == chapter.creator %}
        <a href="{% url 'level_create' %}">
            Legg til tema
        </a>
    {% else %}
        Dette kapittelet er laget av {{ chapter.creator }}.
    {% endif %}


    <ul>
        {% for level in object_list %}

            <li>{{ level.name }} -
                <a href="{% url 'templates_by_level' level.id %}">
                    {{ level.templates.all.count }} oppgaver
                </a>
            </li>
        {% empty %}
            <li>Ingen tema i settet enda.</li>
        {% endfor %}
    </ul>
{% endblock %}