{% if sets %}
<input id="content_title" class="form-control" placeholder="Skriv inn tittel..." disabled style="cursor: text;">
{% else %}
<input id="content_title" class="form-control" placeholder="Skriv inn tittel...">
{% endif %}

<section class="row">
    {% if set_list %}
    <div class="col-md-8">
        <div id="get_content_title" hidden>Mine Oppgavesett</div>
        <ul id="edit_container" class="edit_sets">
        {% if sets %}
            {% for set in sets %}
                <li id="content_{{ set.id }}" class="btn list_content">
                    <h4 class="content_title">{{ set.name }}</h4>
{#                    <a href="{% url 'set_stats' set.id %}" class="btn btn_content_edit">Stats</a>#}
                    <a class="btn btn_content_edit">Edit</a>
                    <a class="btn btn_content_del"><span class="glyphicon glyphicon-trash"></span></a>
                </li>
            {% endfor %}
        {% endif %}
        </ul>
        <input id="input_new_set" type="text" class="list_input form-control new_content" placeholder="Opprett nytt oppgavesett...">
    </div>
    <div class="col-md-4">
    <div class="form-group">
        <div class="input-group">
            <input id="search_input" type="search" class="form-control" placeholder="Søk i oppgavesett...">
            <span class="input-group-btn">
                <button id="search_submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
        <div id="search_sets" class="panel panel-default search_container"></div>
    </div>
    {% elif set_edit %}
    <div class="col-md-8">
        <div id="get_content_title" hidden>{{ set_title }}</div>
        <ul id="edit_container" class="edit_chapters">
        {% if chapters %}
            {% for chapter in chapters %}
                <li id="content_{{ chapter.id }}" class="btn list_content">
                    <h4 class="content_title">{{ chapter.name }}</h4>
                    <a class="btn btn_content_edit">Edit</a>
                    <a class="btn btn_content_del"><span class="glyphicon glyphicon-trash"></span></a>
                </li>
            {% endfor %}
        {% else %}

        {% endif %}
        </ul>
        <input id="input_new_chapter" type="text" class="list_input form-control new_content" placeholder="Opprett nytt kapittel...">
    </div>
    <div class="col-md-4">
        <div class="form-group">
        <div class="input-group">
            <input id="search_input" type="search" class="form-control" placeholder="Søk i kapitler...">
            <span class="input-group-btn">
                <button id="search_submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
        <div id="search_chapters" class="panel panel-default search_container"></div>
    </div>
    {% elif chapter_edit %}
        <div class="col-md-8">
        <div id="get_content_title" hidden>{{ chapter_title }}</div>
        <div id="chapter_id" hidden>{{ chapter_id }}</div>
        <ul id="edit_container" class="edit_levels">
        {% if levels %}
            {% for level in levels %}
                <li id="content_{{ level.id }}" class="btn list_content">
                    <h4 class="content_title">{{ level.name }}</h4>
                    <a class="btn btn_content_edit">Edit</a>
                    <a class="btn btn_content_del"><span class="glyphicon glyphicon-trash"></span></a>
                </li>
            {% endfor %}
        {% else %}

        {% endif %}
        </ul>
        <input id="input_new_level" type="text" class="list_input form-control new_content" placeholder="Opprett nytt level...">
        </div>
        <div class="col-md-4">
            <div class="form-group">
        <div class="input-group">
            <input id="search_input" type="search" class="form-control" placeholder="Søk i nivåer...">
            <span class="input-group-btn">
                <button id="search_submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
            <section id="search_levels" class="panel panel-default search_container"></section>
        </div>
    {% elif level_edit %}
        <div class="col-md-8">
        <div id="get_content_title" hidden>{{ level_title }}</div>
        <div id="level_id" hidden>{{ level_id }}</div>
        <ul id="edit_container" class="edit_templates">
        {% if templates %}
            {% for template in templates %}
                <li id="content_{{ template.id }}" class="btn list_content">
                    <h4 class="content_title static-math output_mathquill pull-left" style="font-size: 1em">{{ template.question_text_latex }}</h4>
                    <a class="btn btn_content_del"><span class="glyphicon glyphicon-trash"></span></a>
                </li>
            {% endfor %}
        {% endif %}
        </ul>
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td class="col-sm-4" style="vertical-align: middle; text-align: right; height: 41px">Tall for progressjonshastighet:</td>
                        <td class="col-sm-6" style="vertical-align: middle"><div id="k_factor_slider"></div></td>
                        <td class="col-sm-2" style="vertical-align: middle"><span id="k_factor_amount">{{ k_factor }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="form-group">
        <div class="input-group">
            <input id="search_input" type="search" class="form-control" placeholder="Søk i oppgavemaler...">
            <span class="input-group-btn">
                <button id="search_submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
            <section id="search_templates" class="panel panel-default search_container"></section>
        </div>
    {% endif %}
</section>

<div class="row">
    <div class="col-sm-4">
        <div class="pull-left">
            {% if sets %}{% else %}
                <a class="btn btn-link"><span class="btn_set_back glyphicon glyphicon-arrow-left"></span></a>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-8">
        <div class="pull-right">
            <button id="update_success" class="btn btn-link" disabled style="display: none">
                <span id="update_text" class="glyphicon glyphicon-ok" style="color:green; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; font-size: 1.2em;"> Vellykket!</span>
            </button>
            <button id="btn_save_set" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Lagre</button>
        </div>
    </div>
</div>