<input id="content_title" class="form-control" placeholder="Skriv inn tittel...">

<section class="row">
    <div class="col-md-8">
    {% if set_edit %}
        <div id="get_content_title" hidden>{{ set_title }}</div>
        <ul id="edit_container" class="edit_chapters">
        {% if chapters %}
            {% for chapter in chapters %}
                <li id="content_{{ chapter.id }}" class="btn list_content">
                    <h4 class="content_title">{{ chapter.name }}</h4>
                    <a class="btn btn_content_edit">Edit</a>
                    <a class="btn btn_content_del"><span class="glyphicon glyphicon-trash"></span></a>
                </li>
            {% endfor %}
        {% else %}

        {% endif %}
        </ul>
        <input id="input_new_chapter" type="text" class="list_input form-control new_content" placeholder="Opprett nytt kapittel...">
    {% elif chapter_edit %}
        <div id="get_content_title" hidden>{{ chapter_title }}</div>
        <div id="chapter_id" hidden>{{ chapter_id }}</div>
        <ul id="edit_container" class="edit_levels">
        {% if levels %}
            {% for level in levels %}
                <li id="content_{{ level.id }}" class="btn list_content">
                    <h4 class="content_title">{{ level.name }}</h4>
                    <a class="btn btn_content_edit">Edit</a>
                    <a class="btn btn_content_del"><span class="glyphicon glyphicon-trash"></span></a>
                </li>
            {% endfor %}
        {% else %}

        {% endif %}
        </ul>
        <input id="input_new_level" type="text" class="list_input form-control new_content" placeholder="Opprett nytt level...">
    {% else %}
        <div id="get_content_title" hidden>{{ level_title }}</div>
        <div id="level_id" hidden>{{ level_id }}</div>
        {% if templates %}

        {% endif %}
    {% endif %}
    </div>
    <div class="col-md-4">
        <section class="panel panel-default">
            Search...
        </section>
    </div>
</section>

<div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right">
            <button id="btn_save_set" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Lagre</button>
        </div>
    </div>
</div>