{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block panels %}
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="col-md-8">
                <h1>{{ level.name }} <small>Oppgavemaler</small></h1>
                <hr>


                {% for template in object_list %}
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <strong class="text-left">
                                {% if template.name %}
                                {{ template.name|title }}
                                {% else %}
                                <span class="text-danger text-left">Uten Tittel</span>
                                {% endif %}
                            </strong>

                            <div class="btn-group btn-group-sm pull-right" role="group">
                                <button class="btn btn-default">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </button>
                                <a href="{% url 'edit_template' template.id %}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <button class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                {% empty %}
                    <div class="alert alert-info text-center">
                        Ingen oppgaver i nivået enda.
                    </div>
                {% endfor %}

                        <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td class="col-sm-4" style="vertical-align: middle; text-align: right; height: 41px">Tall for progressjonshastighet:</td>
                        <td class="col-sm-6" style="vertical-align: middle"><div id="k_factor_slider"></div></td>
                        <td class="col-sm-2" style="vertical-align: middle"><span id="k_factor_amount">{{ level.k_factor }}</span></td>
                    </tr>
                </tbody>
            </table>


<hr>

            <a href="{% url 'levels_by_chapter' user.extendeduser.current_chapter.id %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span>
                {{ user.extendeduser.current_chapter.name }}
            </a>

            </div>

            <div class="col-md-4">
                <h1>Kopiering</h1>
                <hr>
                <div class="form-group">
                    <div class="input-group">
                        <input id="search_input" type="search" class="form-control input-sm" placeholder="Søk i oppgavemaler...">
            <span class="input-group-btn">
                <button id="search_submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
                    </div>
                </div>
                <div id="search_templates" class="panel panel-default search_container" style="display: none;"></div>
            </div>


        </div>

    </div>
{% endblock %}

{% block modals %}

    <div id="deleteModal" class="modal fade bs-example-modal-sm confirm-delete-modal" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-alert alert alert-danger"></div>
                    <a id="cancelModal" class="btn btn-sm btn-primary">Avbryt</a>
                    <button id="confirmDelete" class="btn btn-sm btn-danger" data-object-type="" data-object-id="">
                        Slett
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block js %}
    <script>
    current_level = {{ user.extendeduser.current_level.id }} ;
    </script>
    <script src="{% static "js/set_edit_functions.js" %}"></script>
{% endblock %}