{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load app_filters %}

{% block panels %}
    <a href="{% url 'levels_by_chapter' user.extendeduser.current_chapter.id %}" class="btn btn-xs btn-default back-button">
    <span class="glyphicon glyphicon-arrow-left"></span>
                    {{ user.extendeduser.current_chapter.name }}
    </a>
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="col-md-8">
                <h1><span id=current_object_title>{{ level.name|title }} </span>
                    <small>Oppgavemaler</small>
                </h1>
                <hr style="margin: 5px 0">
                <div style="margin-bottom: 10px">
                    <button class="btn btn-default btn-xs btn-edit-title">
                        Endre tittel
                    </button>
                    <button class="btn btn-default btn-xs btn-edit-kfactor">
                        Progresjonsfaktor
                    </button>
                    <button class="btn btn-default btn-xs btn-edit-randomness">
                        Tilfeldighet
                    </button>
                    <span id="save_success" class="glyphicon glyphicon-ok text-success"
                          style="margin-left: 10px;display:none"></span>
                </div>

                <div id="object_container" class="edit_templates">
                    {% include 'sets/includes/editor_template_list.html' %}
                </div>

            </div>

            <div class="col-md-4">
                <h1>Kopiering</h1>
                <hr style="margin: 5px 0">

                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#search" aria-controls="search" role="tab"
                           data-toggle="pill">Søk</a></li>
                    <li role="presentation">
                        <a href="#userobjects" aria-controls="userobjects" role="tab"
                           data-toggle="pill">Mine Maler</a></li>
                </ul>

                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane fade in active" id="search">

                <div class="form-group">
                    <div class="input-group">
                        <input id="search_input" type="search" class="form-control input-sm"
                               placeholder="Søk i oppgavemaler...">
            <span class="input-group-btn">
                <button id="search_submit" class="btn btn-primary btn-sm"><span
                        class="glyphicon glyphicon-search"></span>
                </button>
            </span>
                    </div>
                </div>
                        <a href="{% url 'templates_search' %}" class="btn btn-primary btn-xs pull-right">Avansert
                            Søk</a>
                <div id="search_templates" class="panel panel-default search_container" style="display: none; border: none"></div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="userobjects">
                        <h4>Mine Maler</h4>
                        <div class="container panel panel-default"
                             style="border:none;max-width:100%;max-height: 500px;overflow-y: scroll;overflow-x: hidden">

                        {% get_user_templates user %}
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
{% endblock %}

{% block modals %}

    {% include 'sets/includes/deletemodal.html' %}
    {% include 'sets/includes/edit_title_modal.html' %}
    {% include 'sets/includes/preview_modal.html' %}
    {% include 'sets/includes/progression_modal.html' %}
    {% include 'sets/includes/randomness_modal.html' %}

{% endblock %}



{% block js %}
    <script>
        var current_level = {{ user.extendeduser.current_level.id }};
    </script>
    <script src="{% static "js/set_edit_functions2.js" %}"></script>
{% endblock %}