{# LIST CHAPTERS IN SET #}
{% extends 'base.html' %}

{% block panels %}
    <h1>Kapitler i oppgavesettet "{{ set.name|capfirst }}"</h1>

    {% if user == set.creator %}

        <a href="{% url 'edit_set' set.id %}">
            Rediger oppgavesettet
        </a>

    {% else %}
        Dette oppgavesettet er laget av {{ set.creator }}.
    {% endif %}

    <ul>
        {% for chapter in object_list %}

            <li>{{ chapter.name }} -
                <a href="{% url 'levels_by_chapter' chapter.id %}">
                    {{ chapter.levels.all.count }} tema
                </a>
            </li>
        {% empty %}
            <li>Ingen kapitler i settet enda.</li>
        {% endfor %}
    </ul>
{% endblock %}