{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load app_filters %}

{% block panels %}
    <a href="{% url 'user_sets' %}" class="btn btn-xs btn-default back-button">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Mine Oppgavesett
    </a>

    <div class="panel panel-default">

        <div class="panel-body" style="padding: 0 15px 15px">

            <div class="col-md-8">
                <h1>
                    <span id="current_object_title">{{ set.name|title }}</span>
                    <small>Kapitler</small>
                </h1>
                <hr style="margin: 5px 0">
                <div style="margin-bottom: 10px">
                <button class="btn btn-default btn-xs btn-edit-title">
                    Endre tittel
                </button>
                <button class="btn btn-default btn-xs btn-edit-order">
                    Endre rekkefølge
                </button>
                    {% if set.is_public %}
                <a href="{% url 'set_to_private' set.id %}" class="btn btn-danger btn-xs btn-unpublish-set">
                    <span class="glyphicon glyphicon-cog"></span> Gjør Privat
                </a>
                    {% else %}
                <a href="{% url 'set_to_public' set.id %}" class="btn btn-primary btn-xs btn-publish-set">
                    <span class="glyphicon glyphicon-cog"></span> Publisér
                </a>
                    {% endif %}
                    <span id="save_success" class="glyphicon glyphicon-ok text-success"
                          style="margin-left: 10px;display:none"></span>
                </div>
{#                <hr style="display:none">#}
                <div id="object_container" class="sortable edit_chapters">
                    {% for chapter in object_list %}
                        <div class="panel panel-default editable-object" data-object_id="{{ chapter.id }}">
                            <div class="panel-body">

                                <strong class="text-left">{{ chapter.name|title }}</strong>

                                <div class="btn-group btn-group-sm pull-right object-options" role="group">
                                    <a href="{% url 'levels_by_chapter' chapter.id %}" class="btn btn-default">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <button class="btn btn-danger btn-delete-object" data-object-title="{{ chapter.name }}"
                        data-object-type="chapter" data-object-id="{{ chapter.id }}">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>

                                <div class="sortable-handle pull-right text-muted" style="display: none">
                                    <span class="glyphicon glyphicon-resize-vertical"></span>
                                </div>

                            </div>
                        </div>

                    {% empty %}
                        <div class="alert alert-info text-center">
                            Ingen kapitler i settet enda.
                        </div>
                    {% endfor %}
                </div>

                <input id="input_new_set" type="text" class="list_input form-control new_content input-chapter-name"
                       placeholder="Opprett nytt kapittel...">

            </div>

            <div class="col-md-4">
                <h1>Kopiering</h1>
                <hr style="margin: 5px 0">

                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#search" aria-controls="search" role="tab"
                           data-toggle="pill">Søk</a></li>
                        <li role="presentation">
                        <a href="#userobjects" aria-controls="userobjects" role="tab"
                           data-toggle="pill">Mine Kapitler</a></li>
                        </ul>

                        <div class="tab-content">

                        <div role="tabpanel" class="tab-pane fade in active" id="search">

                            <div class="form-group">
                                <div class="input-group">
                                    <input id="search_input" type="search" class="form-control input-sm"
                                           placeholder="Søk i kapitler...">

                                    <span class="input-group-btn">
                                    <button id="search_submit" class="btn btn-primary btn-sm"><span
                                            class="glyphicon glyphicon-search"></span>
                                    </button>
                                    </span>
                                </div>
                            </div>
            {# AVANSERT SØK <a href="{% url 'templates_search' %}" class="btn btn-primary btn-xs pull-right">Avansert Søk</a>#}
                        <div id="search_chapters" class="panel panel-default search_container"
                                 style="display:none;border:none;margin-top:-5px;max-height: 500px;overflow-y: scroll"></div>

                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="userobjects">
                            <h4>Mine Kapitler</h4>

                            <div class="container panel panel-default"
                                 style="border:none;max-width:100%;max-height:500px;overflow-y: scroll;overflow-x: hidden">

                                {% get_user_objects user=user object_type='chapter' %}

                            </div>
                        </div>

                        </div>

            </div>


        </div>

    </div>

{% endblock %}

{% block modals %}

    {% include 'sets/includes/deletemodal.html' %}
    {% include 'sets/includes/edit_title_modal.html' %}

{% endblock %}


{% block js %}
    <script>
        var current_set = {{ user.extendeduser.current_set.id }};
    </script>
    <script src="{% static "js/set_edit_functions.js" %}"></script>
{% endblock %}