{# LIST SETS BY USER #}

{% extends 'base.html' %}

{% block panels %}
    <h1>Dine Oppgavesett</h1>
    <a href="{% url 'add_new_set' %}">Opprett nytt oppgavesett</a>
    <ul>
        {% for set in object_list %}
            <li>
                {{ set.name|capfirst }} -
                <a href="{% url 'chapters_by_set' set.id %}">
                    {{ set.chapters.all.count }} kapitler
                </a> - <a href="{% url 'edit_set' set.id %}">Rediger</a>
            </li>
        {% empty %}
            <li>Du har ingen oppgavesett enda.</li>
        {% endfor %}
    </ul>
{% endblock %}