.added {
    text-align: center;
    background-color: #31b0d5
}

.not_added {
    text-align: center;
    background-color: #0044DD;
}

.divider-vertical {
height: 50px;
margin: 0 9px;
border-left: 1px solid #F2F2F2;
border-right: 1px solid #FFF;
}

ol li.list-group-item {
    list-style: decimal inside;
    display: list-item;
}

.btn-sm .btn-primary {
 width: 63px;
}

li.list-group-item:hover {
    background: #F3F3F3;
}

.rating {
    text-decoration: underline dotted;
}

.template-result .rating {
    text-decoration: underline dotted;
}

/* form css */

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }

    .dropdown.dropdown-lg {
        position: static !important;
    }

    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

.numberinput {
    width: 100px;
}