.added {
    text-align: center;
    background-color: #31b0d5
}

.not_added {
    text-align: center;
    background-color: #0044DD;
}

.divider-vertical {
height: 50px;
margin: 0 9px;
border-left: 1px solid #F2F2F2;
border-right: 1px solid #FFF;
}