.text{
	color: #708090;
}
.content_var{
	color: #000000;
}
.content_x{
	color: #000000;
}
.mq-math-mode{
    font-size: 2em;
}
.mq-editable-field:not(.input_mathquill){
    font-size: 1em;
}
.btn{
    font-size: 1.2em;
}
.form-control:not(.input_mathquill){
    display: inline-block;
    width: auto;
    height: auto;
    vertical-align: middle;
    padding: 3px 3px;
    border-radius: 4px;
}
.multifill_field{
    display: table;
    width: auto;
}
.multifill_input{
    padding-left: 12px;
}