/* use following colors: http://paletton.com/#uid=10I0u0kdjGP3WXJ8DQyhGvZlGrw */
body{
	background-color: #FFD295;
	padding-top: 65px; /*la til denne for at body ikke skal bli gjemt bak navbar (funker bare hvis navbar er fixed)*/
	margin-bottom: 80px;
}

.page-header{
	margin-top: 0;
}

.panel-body{
	padding-top: 0;
}

.featuredImg{
	margin-bottom: 15px;
}

.input_fields_wrap{
	margin-bottom: 10px;
}

.input_fields_test{
	margin-bottom: 10px;
}

.test_field{
	margin-top: 5px;
}

.button_menu_mal{
	margin-top: 5px;
}

.btn{
	margin-bottom: 5px;
}

.input_content_var{
	font-size: 3.5em;
	color: #D9534F;
}

.input_content_x{
	font-size: 3.5em;
	color: #F0AD4E;
}

.input_content_op{
	font-size: 3em;
}