<div id="deleteModal" class="modal fade bs-example-modal-sm confirm-delete-modal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">

    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body">

                <div class="modal-alert alert alert-danger text-center"></div>

                <a id="cancelModal" class="btn btn-sm btn-default hidemodal">Avbryt</a>

                <button id="confirmDelete" class="btn btn-sm btn-danger" data-object-type="0" data-object-id="0">
                    Slett
                </button>
            </div>
        </div>
    </div>
</div>