<div id="titleModal" class="modal fade bs-example-modal-sm change-title-modal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

                <div class="modal-alert alert alert-info text-center">Skriv inn ny tittel.</div>
                <input id="new_title_input" type="text" class="form-control new-title" placeholder="Ny tittel">
                <hr>
                <a id="cancelModal" class="btn btn-sm btn-default hidemodal">Avbryt</a>
                <button id="confirmTitleChange" class="btn btn-sm btn-primary">
                    Lagre
                </button>
            </div>
        </div>
    </div>
</div>