<div id="reqModal" class="modal fade bs-example-modal-sm confirm-req-modal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">

    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body">

                <div class="modal-alert alert alert-info">
                    <p>
                    Ved å opprette dette oppgavesettet som arbeidskrav vil du kunne dele dette oppgavesettet
                    med andre med en privat lenke, og ha muligheten til å få innblikk i framdriften til alle som melder seg inn.
                    </p>

                    <p>Du kan gjøre endringer i arbeidskravet som du vil, men originalen vil forbli uberørt.</p>

                    <p>Er du sikker på at du vil opprette oppgavesettet som arbeidskrav?</p>

                </div>

                <a id="cancelModal" class="btn btn-sm btn-default hidemodal">Avbryt</a>

                <button id="confirmReq" class="btn btn-sm btn-success" data-object-id="0">
                    Opprett Arbeidskrav
                </button>
            </div>
        </div>
    </div>
</div>