{% for set in object_list %}

    {% ifequal set.copy  True %}

        <div id="object_id_{{ set.id }}" class="panel panel-default object-copy editable-object">
            <div class="panel-body" style="background-color: aliceblue">

                <strong class="text-left">{{ set.name|title }}</strong> - <span class="text-muted">originalt opprettet
                av {{ set.creator|title }}</span>


    {% else %}

        <div id="object_id_{{ set.id }}" class="panel panel-default editable-object">
            <div class="panel-body">

                <strong class="text-left">{{ set.name|title }}</strong>

    {% endifequal %}


                    <div class="btn-group btn-group-sm pull-right object-options" role="group">
                    <a class="btn btn-default" href="{% url 'chapters_by_set' set.id %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-stats"></span>
                    </button>
                    <button class="btn btn-danger btn-delete-object" data-object-title="{{ set.name }}"
                            data-object-type="set" data-object-id="{{ set.id }}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
        </div>


{% empty %}

    <div class="alert alert-info text-center">
        Fant ingen oppgavesett knyttet til brukeren din.
    </div>

{% endfor %}