{% for set in object_list %}
    {% if set.copy == True %}
        <div id="object_id_{{ set.id }}" class="panel panel-default object-copy">
        <div class="panel-body" style="background-color: aliceblue">

            <strong class="text-left">{{ set.name|title }}</strong>, kopi. Originalt opprettet av {{ set.creator|title }}

            <div class="btn-group btn-group-sm pull-right" role="group">
                <a class="btn btn-default" href="{% url 'chapters_by_set' set.id %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-stats"></span>
                </button>
                <button class="btn btn-danger btn-delete-object" data-object-title="{{ set.name }}"
                        data-object-type="set" data-object-id="{{ set.id }}">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
    </div>
        {% else %}
        <div id="object_id_{{ set.id }}" class="panel panel-default">
        <div class="panel-body">

            <strong class="text-left">{{ set.name|title }}</strong>

            <div class="btn-group btn-group-sm pull-right" role="group">
                <a class="btn btn-default" href="{% url 'chapters_by_set' set.id %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-stats"></span>
                </button>
                <button class="btn btn-danger btn-delete-object" data-object-title="{{ set.name }}"
                        data-object-type="set" data-object-id="{{ set.id }}">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
    </div>
    {% endif %}


{% empty %}
    <div class="alert alert-info text-center">
        Fant ingen oppgavesett knyttet til brukeren din.
    </div>
{% endfor %}