<div id="sharingModal" class="modal fade bs-example-modal-sm change-title-modal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

                <div class="modal-alert alert alert-info text-center">Innstillinger for deling</div>
                <label for="sharingLink">Lenke til sett</label>
                <input id="sharingLink" class="form-control set-url" type="text" placeholder="Lenke til sett" readonly>
                <br>
                <label for="setPassword">Tilgangskode</label>
                <input id="setPassword" type="text" class="form-control set-password" placeholder="Tilgangskode">
                <hr>
                <a id="cancelModal" class="btn btn-sm btn-default hidemodal">Avbryt</a>
                <button id="confirmSharingChange" class="btn btn-sm btn-primary">
                    Lagre
                </button>
            </div>
        </div>
    </div>
</div>