<div id="removeUserModal" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body">

                <div class="modal-alert alert alert-danger text-center">
                    <p class="lead">Advarsel!</p>
                    Dette vil fjerne brukeren fra arbeidskravet, samt alle lagrede ratinger for brukeren.
                    <br>Om de meldes inn igjen må de starte helt på nytt.
                    <br>Fjerne brukeren fra arbeidskravet?
                </div>

                <a id="cancelModal" class="btn btn-sm btn-default hidethemodal">Avbryt</a>

                <button id="confirmRemoveUser" class="btn btn-sm btn-danger">
                    Fjern Bruker
                </button>
            </div>
        </div>
    </div>
</div>