{% load app_filters %}
<script src="/static/js/solution.js?02"></script>
<link href="/static/css/stud_style.css" rel="stylesheet">
<section class="panel panel-default">
{% if user|is_teacher %}<p>rating på dette levlet: {{ ulp }} }</p>{% endif %}
    <div class="panel-heading">
        <h3 class="panel-title">
            Svar
        </h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="input_field"><div class="input_mathquill static-math">{{ answer }}</div></div>
        </form>
    </div>
    <!-- ANSWER MENU -->
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button id="v_solution" class="btn btn-default">Se Løsningsforslag</button>
                    <button id="v_new_question" class="btn btn-primary">Ny oppgave</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SOLUTION PANEL -->
<section id="v_panel" class="panel panel-default" style="display:none">
    <div class="panel-heading"><h3 class="panel-title">Løsningsforslag</h3></div>
    <div class="panel-body">
        <form class="form-horizontal">

            <!-- SOLUTION -->
            <div hidden id="get_solution">{{ solution }}</div>
            <div id="mathquill_field"></div>

        </form>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button id="v_ok" class="btn btn-default">OK</button>
                </div>
            </div>
        </div>
    </div>
</section>