{% extends "base.html" %}
{% load app_filters %}
{% block title %}{{ title }}{% endblock %}

{% block panels %}

    <link href="/static/css/game.css?02" rel="stylesheet">
    <div id="game_screen" class="jumbotron">
        <div id="set_id" hidden>{{ set_id }}</div>
        <h2 class="set_title">{{ set_title }}<span id="chapter_title"></span><span id="level_title"></span></h2>

        <div id="game_loading" style="display: none"><img src="/static/img/loading.gif"></div>
        <div id="game_content">

            <div id="medals" hidden>{{ medals }}</div>
            <div id="chapters_completed" hidden>{{ completed }}</div>
            <div id="progress_number" hidden>{{ progress_number }}</div>



            {% if is_requirement %}

                {% for chapter in chapters %}
                    {# Don't render chapters as locked if the set is a requirement type set #}
                    <div id="chapter_{{ chapter.id }}" class="btn btn_chapter">
                        <div class="ribbon"></div>
                        <h3 class="content_title">{{ chapter.name }}</h3>

                        <div class="progress chapter_progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 0;"><span
                                    class="chapter_completion"></span> / {{ chapter.levels.count }}</div>
                        </div>
                    </div>

                {% endfor %}

            {% else %}

                {% for chapter in chapters %}
                    <div id="chapter_{{ chapter.id }}" class="btn btn_chapter btn_locked" disabled>
                        <div class="ribbon"></div>
                        <h3 class="content_title">{{ chapter.name }}</h3>

                        <div class="progress chapter_progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 0;"><span
                                    class="chapter_completion"></span> / {{ chapter.levels.count }}</div>
                        </div>
                    </div>

                {% endfor %}

            {% endif %}

        </div>
        <div id="game_nav" style="display: none">
            <a class="btn btn-link"><span class="btn_game_back glyphicon glyphicon-arrow-left"></span></a>
        </div>
    </div>
{% endblock %}

{% block js %}
    <!--<script src="/static/js/game_functions.js"></script>-->
    {% comment %}
    Since these graph javascript files add 2 seconds of loading time, i'll comment them out since they're loaded
    in template_noajax.html if a graph has a graph anyway.

    <script src="/static/js/graph.js?011"></script>
    <script src="https://www.desmos.com/api/v0.6/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6" async></script>
    {% endcomment %}
{% endblock %}

