{#<div class="btn btn_chapter">#}
{#    <h3 class="chapter_title">Aritmetikk</h3>#}
{#    <div class="progress chapter_progress">#}
{#        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">9/9</div>#}
{#    </div>#}
{#</div>#}
{#<div class="btn btn_chapter">#}
{#    <h3 class="chapter_title">Algebra</h3>#}
{#    <div class="progress chapter_progress">#}
{#        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">12/12</div>#}
{#    </div>#}
{#</div>#}
{#<div class="btn btn_chapter">#}
{#    <h3 class="chapter_title">Derivering</h3>#}
{#    <div class="progress chapter_progress">#}
{#        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">14/14</div>#}
{#    </div>#}
{#</div>#}
{#<div class="btn btn_chapter">#}
{#    <h3 class="chapter_title">Integrasjon</h3>#}
{#    <div class="progress chapter_progress">#}
{#        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">6/10</div>#}
{#    </div>#}
{#</div>#}
{#<div class="btn btn_chapter btn_locked">#}
{#    <h3 class="chapter_title">Matrise</h3>#}
{#    <div class="progress chapter_progress">#}
{#        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">14/14</div>#}
{#    </div>#}
{#</div>#}

{% for chapter in chapters %}
<div id="chapter_{{ chapter.id }}" class="btn btn_chapter">
<div class="chapter_ribbon medal_gold"></div>
    <h3 class="chapter_title">{{ chapter.name }}</h3>
    <div class="progress chapter_progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">1 / {{ chapter.levels.count }}</div>
    </div>
</div>
{% endfor %}
