<div id="medals" hidden>{{ medals }}</div>
<div id="chapters_completed" hidden>{{ completed }}</div>

{% for chapter in chapters %}
<div id="chapter_{{ chapter.id }}" class="btn btn_chapter">
    <div class="ribbon"></div> <!--chapter_ribbon medal_gold-->
    <h3 class="chapter_title">{{ chapter.name }}</h3>
    <div class="progress chapter_progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span class="chapter_completion"></span> / {{ chapter.levels.count }}</div>
    </div>
</div>
{% endfor %}
