{#<div class="btn btn_level">#}
{#    <h4 class="level_title">Addisjon</h4>#}
{#    <h2 class="level_progress">#}
{#        <span class="glyphicon glyphicon-star"></span>#}
{#        <span class="glyphicon glyphicon-star"></span>#}
{#        <span class="glyphicon glyphicon-star"></span>#}
{#    </h2>#}
{#</div>#}
{#<div class="btn btn_level">#}
{#    <h4 class="level_title">Substraksjon</h4>#}
{#    <h2 class="level_progress">#}
{#        <span class="glyphicon glyphicon-star"></span>#}
{#        <span class="glyphicon glyphicon-star-empty"></span>#}
{#        <span class="glyphicon glyphicon-star-empty"></span>#}
{#    </h2>#}
{#</div>#}
{#<div class="btn btn_level">#}
{#    <h4 class="level_title">Multiplikasjon</h4>#}
{#    <h2 class="level_progress">#}
{#        <span class="glyphicon glyphicon-star-empty"></span>#}
{#        <span class="glyphicon glyphicon-star-empty"></span>#}
{#        <span class="glyphicon glyphicon-star-empty"></span>#}
{#    </h2>#}
{#</div>#}
{#<div class="btn btn_level btn_locked">#}
{#    <h4 class="level_title">Divisjon</h4>#}
{#    <h2 class="level_progress">#}
{#        <span class="glyphicon glyphicon-star"></span>#}
{#        <span class="glyphicon glyphicon-star-empty"></span>#}
{#        <span class="glyphicon glyphicon-star-empty"></span>#}
{#    </h2>#}
{#</div>#}

<div id="progress_number" hidden>{{ progress_number }}</div>

{% for level in levels %}
<div id="level_{{ level.id }}" class="btn btn_level btn_locked" disabled>
    <h4 class="level_title">{{ level.name }}</h4>
    <h2 class="level_progress">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    </h2>
</div>
{% endfor %}
