<div hidden id="template_type">{{ template_type }}</div>
<div hidden id="primary_key">{{ primary_key }}</div>
<div hidden id="template_specific">{{ template_specific }}</div>
<div hidden id="number_of_answers">{{ number_of_answers }}</div>
<div hidden id="variable_dictionary">{{ variable_dictionary }}</div>
<div hidden id="get_question">{{ question }}</div>
<div hidden id="replacing_words">{{ replacing_words }}</div>

<script src="/static/js/answer_input.js?18"></script>
<link href="/static/css/stud_style.css" rel="stylesheet">
<div id="num_stars" hidden>{{ stars }}</div>
<div id="get_ulp" hidden>{{ ulp }}</div>

<section class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-4">
                <h3 class="panel-title">Spørsmål <small>{{ ulp }}</small></h3>
            </div>
            <div class="col-md-2" style="text-align: right">
                <span>Progresjon:</span>
            </div>
            <div class="col-md-4" style="max-height: 20px">
                <div class="progress star_progress">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span class="chapter_completion"></span></div>
                    <span class="progress_bar_star pull-right glyphicon glyphicon-star"></span>
                </div>
            </div>
            <div class="col-md-2 level_progress_small">
{#                <span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>#}
                <span class="progress_star glyphicon glyphicon-star-empty"></span>
                <span class="progress_star glyphicon glyphicon-star-empty"></span>
                <span class="progress_star glyphicon glyphicon-star-empty"></span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form id="w_question_display" class="form-horizontal">
            <div id="mathquill_field" class="input_field"></div><hr>
            <div id="w_target" class="row"></div>
            <form>{% csrf_token %} </form>
        </form>
    </div>
    <div class="panel-footer">
        <div id="keypad_w" class="row keypad">
            <div class="col-lg-9 keypad_answer">
                {% include 'keypad/operators.html' %}
            </div>
            <div class="col-lg-3 pull-right">
                <button id="submit_answer" class="btn btn-primary pull-right game_submit" type="submit">Svar</button>
            </div>
        </div>
    </div>
    <div style="display:none">
        {% include 'keypad/custom_matrix.html' %}
    </div>
</section>