<button class="btn btn-sm btn-default preview-button" title="Forhåndsvisning"
        data-template_id="{{ template.id }}" data-template_title="{{ template.name|title }}" type="button">
    <span class="glyphicon glyphicon-eye-open"></span>
</button>

<a href="{% url 'edit_template' template.id %}" class="btn btn-sm btn-default edit-button" title="Rediger"
   type="button">
    <span class="glyphicon glyphicon-pencil"></span>
</a>

<button title="Legg til level" class="btn btn-sm btn-primary ajax-toggle-button" data-template_id="{{ template.id }}">
    <span class="glyphicon glyphicon-plus"></span>
</button>