<button class="btn btn-xs btn-default variable-overview-show">
    <span class="glyphicon glyphicon-menu-left"></span>Variabler
</button>

<div id="variable-overview" class="panel panel-default">
    <div class="panel-heading clearfix"><h3 class="panel-title pull-left">Variabler</h3>
        <div class="pull-right">
        <a class="variable-overview-refresh">
            <span title="Oppdater" class="glyphicon glyphicon-refresh"></span>
        </a>
        <a class="variable-overview-close">
            <span title="Skjul" class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>

    <div class="panel-body">
        <h4>Utregninger</h4>
        <div id="calculations_overview">

        </div>
        <h4>Variabler</h4>
        <div id="vars_overview">

        </div>
    </div>
</div>