{% load bootstrap3 %}

<h4>Fant {{ paginator.count }}</h4>

<div class="container-fluid">

    {% if query %}

        {% for result in page.object_list %}
            {% if result.content_type == "oppgavegen.set" %}
                {% include 'search/includes/set_mini.html' %}
            {% elif result.content_type == "oppgavegen.chapter" %}
                {% include 'search/includes/chapter_mini.html' %}
            {% elif result.content_type == "oppgavegen.level" %}
                {% include 'search/includes/level_mini.html' %}
            {% elif result.content_type == "oppgavegen.template" %}
                {% include 'search/includes/template_mini.html' %}
            {% endif %}
        {% empty %}
            <span class="text-info">Tips: Du kan for eksempel søke etter brukernavn, i oppgavetekst, emnetyper som "derivering" eller "aritmetikk".</span>
        {% endfor %}

    {% endif %}

</div>