{% load bootstrap3 %}

<h4>Fant {{ paginator.count }}</h4>

<div class="container-fluid">

    {% if query %}


        {% for result in page.object_list %}
            {% if result.content_type == "oppgavegen.set" %}
                {% include 'search/includes/set_mini.html' %}
            {% elif result.content_type == "oppgavegen.chapter" %}
                {% include 'search/includes/chapter_mini.html' %}
            {% elif result.content_type == "oppgavegen.level" %}
                {% include 'search/includes/level_mini.html' %}
            {% elif result.content_type == "oppgavegen.template" %}
                {% include 'search/includes/template_mini.html' %}
            {% endif %}
        {% empty %}
            {#                <p>Fant ingenting.</p>#}
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}
                    <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous
                {% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}
                Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}

    {% endif %}

</div>