<html>
 
<head>
<title>Django/jQuery AJAX Search</title>
<link href="/static/css/searchstyle.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.2.6.js"></script>
 
    <script type="text/javascript">
        $(document).ready(function () {
            $('#searchSubmit').click(function () {
                q = $('#q').val();
                $('#results').html('&nbsp;').load('{% url "ajax_template_search" %}?q=' + q);
            });
        });

        $(document).ajaxStart(function () {
            $('#spinner').show();
        }).ajaxStop(function () {
            $('#spinner').hide();
        });
    </script>
    </head>
 
<body>
<div id="centered">
 
{% block main %}{% endblock %}
 
</div>
</body>
</html>