{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block head %}
    <link href="{% static "css/search.css" %}" rel="stylesheet">
{% endblock %}
{% block title %}{% endblock %}

{% block panels %}

    <section class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Søk</h3></div>
        <div class="panel-body">

            <form method="get" action=".">

                <div class="input-group">

{#                    <input class="form-control" id="id_q" name="q" placeholder="Søk i oppgavemaler" required="required"#}
{#                           title="" value="" type="search">#}

                    {% bootstrap_field form.q %}


                    <div class="input-group-btn">
                    <button type="button" data-toggle="collapse" data-target="#advanced-search"
                            title="Avansert" class="btn btn-default" aria-expanded="false">
                        {% bootstrap_icon "chevron-down" %}
                    </button>
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "search" %} Søk
                    </button>
                    </div>
                </div>


                <div id="advanced-search" class="collapse pull-right">
                    <div class="well">
                        <div class="input-group">
                            {% bootstrap_field form.name %}
                            {% bootstrap_field form.creator %}
                            <div class="form-inline">
                            {% bootstrap_field form.min_rating %}
                            {% bootstrap_field form.max_rating %}
                            </div>
                            <br>
                            {% bootstrap_field form.multiple %}
                            {% bootstrap_field form.fill_in %}
                        </div>
                        <button type="button" data-toggle="collapse" data-target="#advanced-search" class="btn btn-default pull-right" aria-expanded="false">
                        {% bootstrap_icon "chevron-up" %}
                        </button>
                    </div>



                </div>
            </form>
        </div>

        {% if query %}



            <ul class="list-group">
                <li class="list-group-item clearfix">
                    <strong style="margin: 5px 0">Resultater</strong>

                        {% if user.extendeduser.current_level %}
                            <span class="pull-right">
                                <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    {{ user.extendeduser.current_level.name }} <span class="caret"></span>
                                </button>
                            </span>
                        {% endif %}

                </li>
                {% for result in page.object_list %}
                    <li class="list-group-item clearfix">
                        {% include 'search/includes/template_result.html' %}
                    </li>
                {% empty %}
                    <li class="list-group-item clearfix">Fant ingen oppgavemaler.</li>
                {% endfor %}
            </ul>
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}

        {% if page.has_previous or page.has_next %}
            <nav class="text-center">


            <ul class="pagination pagination-centered">
                {% if page.has_previous %}
                    <li><a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>
                {% endif %}

                {% for i in paginator.page_range %}
                    <li {% if page.number == i %} class="active" {% endif %}>
                        <a href="?q={{ query }}&amp;page={{ i }}">
                            {{ i }}
                        </a>
                    </li>
                {% endfor %}

                {% if page.has_next %}
                    <li>
                        <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
            </nav>
        {% endif %}


        {% comment boring pagination %}
        {% if page.has_previous or page.has_next %}
            <nav>
                <ul class="pager">
                    {% if page.has_previous %}
                        <li>
                            <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
                                <span aria-hidden="true">&laquo;</span>
                                Forrige
                            </a></li>
                    {% endif %}



                    {% if page.has_next %}
                        <li>
                            <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
                                Neste
                                <span aria-hidden="true">&raquo;</span>
                            </a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
{% endcomment %}


    </section>

    <div class="modal fade" id="previewModal" role="dialog" aria-labelledby="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="previewModalTitle">Modal title</h4>
                </div>
                <div class="modal-body">
                    <h4>Oppgavetekst</h4>
                    <div class="template-text static-math input_mathquill mq-math-mode"></div>
                    <hr>
                    <h4>Løsningsforslag</h4>
                    <div class="template-solution" id="previewModalBody"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Lukk</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block js %}
    <script src="{% static "js/underscore-min.js" %}"></script>
    <script src="{% static "js/search_functions.js" %}"></script>
{% endblock %}
