    <script src="/static/js/jquery-1.11.2.min.js"></script>
    <link href="/static/css/bootstrap.min.css" rel = "stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/mathquill.css">
    <div hidden id="get_solution">{{ solution }}</div>

    <script src="/static/js/solution.js"></script>
    <script>
        var solution = $('#get_solution');
        var solution_text = solution.text().replace(/§/g, '\\n');
        solution.html(solution_text);


    </script>
    <link href="/static/css/styles.css" rel="stylesheet">
    <p>

    <div id="mathquill_field"></div>
    </p>

    <script src="/static/js/mathquill.min.js"></script>

