{% extends 'base.html' %}
{% load bootstrap3 %}

{% block panels %}

    <h2>Søk etter oppgavemaler</h2>

    <form method="get" action=".">

        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "search" %} Search
            </button>
        {% endbuttons %}

        {% if query %}

            <h3>Resultater</h3>

            {% for result in page.object_list %}
                <p>
                    {{ result.object.name|title }} - {{ result.object.rating }} -
                    {% ifequal result.creator user.username %}
                        Laget av: Deg!
                    {% else %}
                        Laget av: {{ result.object.creator }}
                    {% endifequal %}

                    - Multiple: {{ result.object.multiple_support }} - FillIn: {{ result.object.fill_in_support }} -

                    {% if result.object.id in user.extendeduser.current_level_template_ids %}
                        <a href="{% url 'current_level_remove' result.object.id %}">Fjern fra
                            "{{ user.extendeduser.current_level.name }}"</a>
                    {% else %}
                        <a href="{% url 'current_level_add' result.object.id %}">Legg til i
                            "{{ user.extendeduser.current_level.name }}"</a>
                    {% endif %}

                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}
                        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous
                    {% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}
                    Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}

        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>

{% endblock %}