{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block head %}
    <link href="/static/css/search.css" rel="stylesheet">
{% endblock %}
{% block title %}


{% endblock %}

{% block panels %}

    <h2>Søk etter oppgavemaler</h2>

    <form method="get" action=".">

        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "search" %} Search
            </button>
        {% endbuttons %}
    </form>

        {% if query %}

            <h3>Resultater</h3>

            {% for result in page.object_list %}
                {% include 'search/includes/template.html' %}
            {% empty %}
                <p>Fant ingen oppgavemaler.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}
                        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous
                    {% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}
                    Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}


        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}


{% endblock %}

{% block js %}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="/static/js/search_functions.js"></script>
{% endblock %}

