{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% load app_filters %}

{% block panels %}

    <!-- Topics -->
    <div hidden id="db_topics">{{topics}}</div>
    <form>
        {% csrf_token %}
    </form>

    <div hidden id="edit_template">true</div>
    <div hidden id="template_id">{{ template_id }}</div>
    <div hidden id="topic">{{ topic }}</div>
    <div hidden id="solution">{{ solution }}</div>
    <div hidden id="answer">{{ answer }}</div>
   	<div hidden id="calculation_references">{{ calculation_references }}</div>
    <div hidden id="unchanged_ref">{{ unchanged_ref }}</div>
    <div hidden id="random_domain">{{ random_domain }}</div>
    <div hidden id="conditions">{{ conditions }}</div>
    <div hidden id="choices">{{ choices }}</div>
    <div hidden id="fill_in">{{ fill_in }}</div>
    <div hidden id="dictionary">{{ dictionary }}</div>
    <div hidden id="used_variables">{{ used_variables }}</div>

    <!-- PANELS -->
    <!--QUESTION PANEL-->
    <section id="q_panel" class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Spørsmål</h3></div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="category_selection" class="col-sm-2 control-label">Kategori:</label>
                    <div class="col-sm-10">
                        <select id="category_selection" class="form-control">
                            <option disabled>Velg en kategori...</option>

                        </select>
                    </div>
                </div>
                <!--QUESTION INPUT FIELD-->
                <div id="q_input_field" class="input_field">
                    <span id="q_input_mathquill" class="math-field form-control input_mathquill">{{ question_text }}</span>
                    <button id="q_btn_clear" class="btn btn-default btn_clear" style="margin-left: 3px; border: none">
                        <span class="glyphicon glyphicon-trash" style="horizontal-align:middle; resize: vertical"></span>
                    </button>
                </div>
            </form>
        </div>
        <!--QUESTION KEYBOARD-->
        <div class="panel-footer">
            <div id="keypad_q" class="row keypad">
                <div class="col-lg-10">
                    {% include 'keypad/calculation.html' %}
                    {% include 'keypad/text_and_sub.html' %}
                    {% include 'keypad/variables_init.html' %}
                    {% include 'keypad/xyz.html' %}
                    {% include 'keypad/operators.html' %}
                </div>
                <div class="col-lg-2">
                    <div class="btn-group pull-right">
                        <button id="q_btn_delete" class="btn btn-default btn_delete">
                            <span class="glyphicon glyphicon-erase"></span>
                        </button>
                        <button id="q_btn_proceed" class="btn btn-primary btn-group-q btn_proceed" type="submit" disabled>Fortsett</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SOLUTION PANEL-->
    <section id="s_panel" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Løsning
                <a id="s_btn_close" class="glyphicon glyphicon-remove pull-right btn_close"></a>
            </h3>
        </div>
        <div class="panel-body">
            <!--SOLUTION DYNAMIC INPUT FORM-->
            <form id="s_form" class="form-horizontal">
                <!--SOLUTION: STEPS-->
                <div id="step_1" class="step">
                    <h4>Steg 1</h4>
                    <!--<input id="s_text_1" type="text" class="form-control" placeholder="Forklaring...">-->
                    <div class="input_field s_input_field">
                        <span id="s_input_mathquill_1" class="math-field form-control input_mathquill"></span>
                        <button id="s_btn_clear_1" class="btn btn-default btn_clear" style="margin-left: 3px; border: none">
                            <span class="glyphicon glyphicon-trash" style="resize: vertical"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!--SOLUTION KEYBOARD-->
        <div class="panel-footer">
            <div id="keypad_s" class="row keypad">
                <div class="col-lg-10">
                    {% include 'keypad/calculation.html' %}
                    {% include 'keypad/text.html' %}
                    {% include 'keypad/variables.html' %}
                    {% include 'keypad/xyz.html' %}
                    {% include 'keypad/operators.html' %}
                </div>
                <div class="col-lg-2">
                    <div class="btn-group pull-right">
                        <button id="s_btn_delete" class="btn btn-default btn_delete">
                            <span class="glyphicon glyphicon-erase"></span>
                        </button>
                        <button id="s_btn_proceed" class="btn btn-primary btn-group-s btn_proceed" type="submit" disabled>Fortsett</button>
                        <button id="s_btn_next" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--ANSWER PANEL-->
    <section id="a_panel" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Svar
                <a id="a_btn_close" class="glyphicon glyphicon-remove pull-right btn_close"></a>
            </h3>
        </div>
        <div class="panel-body">
            <form id="a_form" class="form-horizontal">
                <!--ANSWER: ANSWERS-->
                <div id="answer_1" class="answer">
                    <h4 id="ans_title_1" style="display:none">Svar 1</h4>
                    <div class="input_field a_input_field">
                        <span id="a_input_mathquill_1" class="math-field form-control input_mathquill"></span>
                        <button id="a_btn_clear_1" class="btn btn-default btn_clear" style="margin-left: 3px; border: none">
                            <span class="glyphicon glyphicon-trash" style="resize: vertical"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!--ANSWER KEYBOARD-->
        <div class="panel-footer">
            <div id="keypad_a" class="row keypad">
                <div class="col-lg-10">
                    {% include 'keypad/calculation.html' %}
                    {% include 'keypad/text.html' %}
                    {% include 'keypad/variables.html' %}
                    {% include 'keypad/xyz.html' %}
                    {% include 'keypad/operators.html' %}
                </div>
                <div class="col-lg-2">
                    <div class="btn-group pull-right">
                        <button id="a_btn_delete" class="btn btn-default btn_delete">
                            <span class="glyphicon glyphicon-erase"></span>
                        </button>
                        <button id="a_btn_proceed" class="btn btn-primary btn-group-a btn_proceed" type="submit" disabled>Fortsett</button>
                        <button id="a_btn_next" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--OPTION PANEL-->
    <section id="o_panel" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Innstillinger
                <a id="o_btn_close" class="glyphicon glyphicon-remove pull-right btn_close"></a>
            </h3>
        </div>
        <!--OPTION CONTENT-->
        <table class="table table-condensed">
            <tbody>
            <tr>
                <td class="col-sm-3" style="vertical-align: middle; text-align: right">Utvalg:</td>
                <td class="col-sm-2"><input id="opt_domain_from" type="number" class="form-control input-sm" placeholder="Fra:" disabled></td>
                <td class="col-sm-2"><input id="opt_domain_to" type="number" class="form-control input-sm" placeholder="Til:" disabled></td>
                <td class="col-sm-2" style="border-left: thin dashed lightgray"><input id="opt_domain_dec" type="number" class="form-control input-sm opt_domain-dec" placeholder="Desimaler:"disabled></td>
                <td style="vertical-align: middle"><a id="o_btn_adv_domain" hidden>Avansert<span id="o_adv_caret"><b class="caret"></b></span></a></td>
            </tr>
            </tbody>
            <tbody id="o_adv_domain" style="display:none; border-top: 0">
            <!-- DYNAMIC TABLE ROWS -->
            </tbody>
            <tbody style="border-top: 0">
            <tr>
                <td style="vertical-align: middle; text-align: right; height: 41px;">Betingelser:</td>
                <td style="vertical-align: middle"><input id="opt_conditions" type="checkbox"></td>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td style="vertical-align: middle; text-align: right; height: 41px">Flervalgsoppgave:</td>
                <td style="vertical-align: middle"><input id="opt_multiple_choice" type="checkbox"></td>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td style="vertical-align: middle; text-align: right; height: 41px">Utfyllingsoppgave:</td>
                <td style="vertical-align: middle"><input id="opt_fill_blanks" type="checkbox"></td>
                <td></td><td></td><td></td>
            </tr>
            </tbody>
        </table>
        <!--OPTION KEYBOARD-->
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-4">
                    <div class="pull-right btn-group">
                        <button id="o_btn_save_new" class="btn btn-default" type="submit">Lagre som ny mal</button>
                        <button id="o_btn_save" class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-save"></span> Lagre
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div style="display:none">
        {% include 'keypad/custom_matrix.html' %}
    </div>

    <!-- POP-UP: CALCULATION -->
    <div id="calc_modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Mellomregning<a id="c_btn_close" class="glyphicon glyphicon-remove pull-right btn_close" data-dismiss="modal"></a></h3>
                </div>
                <!--CALCULATION INPUT-->
                <div class="panel-body">
                    <div id="c_input_field" class="input_field">
                        <span id="c_input_mathquill" class="math-field form-control input_mathquill"></span>
                        <button id="c_btn_clear" class="btn btn-default btn_clear" style="margin-left: 3px; border: none">
                            <span class="glyphicon glyphicon-trash" style="resize: vertical"></span>
                        </button>
                    </div>
                </div>
                <!--CALCULATION KEYBOARD-->
                <div class="panel-footer">
                    <div id="keypad_c" class="row keypad">
                        <div class="col-sm-9">
                            {% include 'keypad/calculation_ref.html' %}
                            {% include 'keypad/variables.html' %}
                            {% include 'keypad/operators.html' %}
                        </div>
                        <div class="col-sm-3">
                            <div class="btn-group pull-right">
                                <button id="c_btn_delete" class="btn btn-default btn_delete">
                                    <span class="glyphicon glyphicon-erase"></span>
                                </button>
                                <button id="c_btn_ok" class="btn btn-primary" data-dismiss="modal" type="submit">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- POP-UP: TEXT-INPUT -->
    <div id="text_modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sett inn tekst<a id="t_btn_close" class="glyphicon glyphicon-remove pull-right btn_close_text" data-dismiss="modal"></a></h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-9">
                        <input id="t_input" type="text" class="form-control input_mathquill" placeholder="Tekst..." autofocus>
                    </div>
                    <div class="col-sm-3">
							<span class="btn-group pull-right">
								<button class="btn btn-default btn_close_text" data-dismiss="modal">Avbryt</button>
								<button id="t_btn_ok" class="btn btn-primary" data-dismiss="modal" type="submit">OK</button>
							</span>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- POP-UP: TEXT-SUBSTITUTION -->
    <div id="text_edit_modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tekst-substitusjon<a class="glyphicon glyphicon-remove pull-right" data-dismiss="modal"></a></h3>
                </div>
                <div class="panel-body">
                    <form id="e_form" class="form-horizontal">
                        <!--TEXT-SUBSTITUTION: 1-->
                        <div id="e_sub_1">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Bytt ut ord/setning:</label>
                                <div class="col-md-7">
                                    <input id="e_from_1" type="text" class="form-control" placeholder="Epler">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Med ord/setning:</label>
                                <div class="col-md-7">
                                    <textarea id="e_to_1" type="text" class="form-control" rows="2" placeholder="Bananer, Pærer, Appelsiner, Druer"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group pull-right">
                                <button id="e_btn_clear" class="btn btn-default btn_clear">
                                    <span class="glyphicon glyphicon-trash" style="horizontal-align:middle"></span>
                                </button>
                                <button id="e_btn_next" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus" style="horizontal-align:middle"></span>
                                </button>
                                <button class="btn btn-primary" data-dismiss="modal" type="submit">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- POP-UP: CONDITIONS -->
    <div id="conditions_modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Betingelser<a class="glyphicon glyphicon-remove pull-right" data-dismiss="modal"></a></h3>
                </div>
                <div id="con_dyn_input" class="panel-body">
                    <p>Skriv inn betingelser.</p>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-9">
                            {% include 'keypad/calculation_ref.html' %}
                            {% include 'keypad/variables.html' %}
							{% include 'keypad/conditions.html' %}
                        </div>
                        <div class="col-md-3">
                            <div class="btn-group pull-right">
                                <button id="n_btn_refresh" class="btn btn-default btn_clear">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                                <button id="n_btn_ok" class="btn btn-primary" data-dismiss="modal" type="submit">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- POP-UP: MULTIPLE-CHOICE -->
    <div id="multiple_choice_modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Flervalgsoppgave<a class="glyphicon glyphicon-remove pull-right" data-dismiss="modal"></a></h3>
                </div>
                <div id="m_dyn_multi_input" class="panel-body">
                    <p>Skriv inn formel for flervalg (Ikke skriv inn det riktige svaret).</p>
                    <div id="m_dyn_solution"></div>
                </div>
                <div class="panel-footer">
                    <div id="keypad_m" class="row keypad">
                        <div class="col-md-9">

                        </div>
                        <div class="col-md-3">
                            <div class="btn-group pull-right">
                                <button id="m_btn_clear" class="btn btn-default btn_clear">
                                    <span class="glyphicon glyphicon-trash" style="horizontal-align:middle"></span>
                                </button>
                                <button id="m_btn_new" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus" style="horizontal-align:middle"></span>
                                </button>
                                <button class="btn btn-primary" data-dismiss="modal" type="submit">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- POP-UP: FILL-IN-THE-BLANKS -->
    <div id="fill_blanks_modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Utfyllingsoppgave<a class="glyphicon glyphicon-remove pull-right" data-dismiss="modal"></a></h3>
                </div>
                <div id="f_dyn_fill_input" class="panel-body">
                    <div id="f_diff_latex" class="hidden"></div>
                    <p>Markér utrykkene som skal være utfyllingsruter og trykk på <span class="glyphicon glyphicon-erase"></span> knappen.</p>
                </div>
                <div class="panel-footer">
                    <div id="keypad_f" class="row keypad">
                        <div class="col-md-12">
                            <div class="btn-group pull-right">
									<span id="f_btn_fill" class="btn btn-default">
										<span class="glyphicon glyphicon-erase"></span>
									</span>
                                <button id="f_btn_refresh" class="btn btn-default">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                </button>
                                <button class="btn btn-primary" data-dismiss="modal" type="submit">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script src="/static/js/diff_match_patch.js?02"></script>
    <script src="/static/js/make_dropdown.js"></script>
{% endblock %}