{% extends "base.html" %}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}{% endblock %}
{% load app_filters %}

{% block panels %}
    <div class="jumbotron text-center" style="background-color: aliceblue">
        <h2 class="front_header text-info">Velkommen til MathGen</h2>
        <p class="text-info"> Velg et oppgavesett for å sette i gang.</p>
    </div>

    <div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Populære oppgavesett
        </div>
            <ul class="list-group">
            {% for set in popular %}
                <li class="list-group-item">
                  <a style="color: #337ab7; font-weight: normal" href="{% url 'game' set.id %}">{{ set.name }}</a> - {{ set.num_users }} brukere
                </li>
                {% empty %}
                Ingen oppgavesett enda.
            {% endfor %}
            </ul>
    </div>
    </div>

    <div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Nyeste oppgavesett
        </div>
            <ul class="list-group">
            {% for set in latest %}
                <li class="list-group-item">
                  <a style="color: #337ab7; font-weight: normal" href="{% url 'game' set.id %}">{{ set.name }}</a> - {{ set.creation_date|date:"d/m/y" }}
                </li>
                {% empty %}
                Ingen oppgavesett enda.
            {% endfor %}
            </ul>
    </div>
    </div>


    <div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Oppgavesett du har jobbet med
        </div>
            <ol class="list-group">
            {% for set in user_sets %}
                <li class="list-group-item">
                <a style="color: #337ab7; font-weight: normal" href="{% url 'game' set.id %}">{{ set.name }}</a>
                </li>
                {% empty %}
                Oppgavesett du jobber med vil vises her.
            {% endfor %}
            </ol>
    </div>
    </div>
{% endblock %}