<!DOCTYPE html>
<html>
<head lang="en">
    <!-- TEST3 -->
    <meta charset="UTF-8">
    <title>Testing</title>
    <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
            tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
            });
    </script>
    <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/2.1-latest/MathJax.js?config=TeX-AMS_HTML-full">
    </script>
</head>
<body>

<p>
When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are
$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
</p>


</body>
</html>