{% extends "base.html" %}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load app_filters %}

{% block head %}
<link href="/static/css/game.css?02" rel="stylesheet">
{% endblock %}



{% block panels %}
    <section id="table_panel" class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">{{ panel_title }}</h3></div>
        <div class="table-container">
            <div class="panel-body" style="overflow-x:scroll;overflow-y:visible!important;">
                <table class="table table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                        {% for attr_head in headers %}
                            <th class="text-center">{{ attr_head }}</th>
                        {% endfor %}
                    </tr>
                    </thead>

                    <tbody>
                    {% for attr in user_stats %}
                        <tr>
                            {% for sub_attr in attr %}
                                {% if sub_attr|is_string %}
                                    <td>{{ sub_attr }}</td>
                                {% else %}
                                    <td>{% draw_stars sub_attr %}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
